local-service
stop-dns-rebind
bogus-priv
filterwin2k
domain-needed

log-queries
log-facility=/var/log/dnsmasq.log
log-async=5

cache-size=1000

conntrack

no-negcache
no-hosts
no-resolv
no-poll
expand-hosts
domain=loc
local=/loc/

#server=1.1.1.1
#server=1.0.0.1
server=9.9.9.9
server=149.112.112.112

no-dhcp-interface=eth0
interface=wlan0      # Use the require wireless interface - usually wlan0
listen-address=192.168.1.1
bind-dynamic
dhcp-range=192.168.1.100,192.168.1.200,255.255.255.0,24h

conf-dir=/etc/dnsmasq.d,*.conf
